In [1]:
import numpy as np
import pandas as pd

In [2]:
# Read the dataset
data = pd.read_csv('insurance.csv')

In [3]:
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [4]:
data.tail()

      age     sex    bmi  children smoker     region     charges
1333   50    male  30.97         3     no  northwest  10600.5483
1334   18  female  31.92         0     no  northeast   2205.9808
1335   18  female  36.85         0     no  southeast   1629.8335
1336   21  female  25.80         0     no  southwest   2007.9450
1337   61  female  29.07         0    yes  northwest  29141.3603

In [6]:
# Calculate summary statistics grouped by a categorical variable
categorical_variable = 'age'  # Replace with your actual column name
numeric_variable = 'charges'  # Replace with your actual column name

summary_stats = data.groupby(categorical_variable)[numeric_variable].describe()

print(summary_stats.sample(5))

     count          mean           std          min          25%  \
age
31    27.0  10196.980573  13646.442909   3260.19900   4186.98755
58    25.0  13878.928112   7437.416700  11345.51900  11743.93410
45    29.0  14830.199856  13722.541933   7222.78625   7935.29115
52    29.0  18256.269719  12408.353431   9140.95100   9991.03765
19    68.0   9747.909335  12469.537468   1241.56500   1639.56310

              50%           75%          max
age
31    4738.268200   5769.127200  58571.07448
58   11931.125250  12231.613600  47496.49445
45    8603.823400   9788.865900  62592.87309
52   11396.900200  24667.419000  60021.39897
19    2135.891875  17148.980075  39722.74620

In [9]:
# Extract the desired statistics for each category
desired_statistics = ['mean', 'median', 'min', 'max', 'std']

# Create a list of numeric values for each response to the categorical variable
category_values = summary_stats.index.tolist()

# Print the summary statistics
print(summary_stats.sample(5))
print("Category values:", category_values)

     count          mean           std         min          25%           50%  \
age
35    25.0  11307.182031  10699.982062   4746.3440   5227.98875   5836.520400
60    23.0  21979.418507  14923.698375  12142.5786  12646.64620  13204.285650
50    29.0  15663.003301  10939.123514   8442.6670   9058.73030  10107.220600
63    23.0  19884.998461  11850.935198  13390.5590  13887.58625  14349.854400
19    68.0   9747.909335  12469.537468   1241.5650   1639.56310   2135.891875

              75%          max
age
35   19361.998800  39983.42595
60   29591.566240  52590.82939
50   19749.383380  42856.83800
63   15362.628875  48824.45000
19   17148.980075  39722.74620
Category values: [18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64]

Part 2

In [13]:
df = pd.read_csv('Iris.csv')

In [14]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [16]:
df.tail(3)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [17]:
# Filter dataset for 'Iris-setosa', 'Iris-versicolor', and 'Iris-virginica'
setosa_df = df[df['Species'] == 'Iris-setosa']
versicolor_df = df[df['Species'] == 'Iris-versicolor']
virginica_df = df[df['Species'] == 'Iris-virginica']

In [18]:
print(setosa_df.sample(3))

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
12  13            4.8           3.0            1.4           0.1  Iris-setosa
29  30            4.7           3.2            1.6           0.2  Iris-setosa
47  48            4.6           3.2            1.4           0.2  Iris-setosa

In [19]:
print(versicolor_df.head(3))

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
50  51            7.0           3.2            4.7           1.4
51  52            6.4           3.2            4.5           1.5
52  53            6.9           3.1            4.9           1.5

            Species
50  Iris-versicolor
51  Iris-versicolor
52  Iris-versicolor

In [20]:
print(virginica_df.head(3))

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
100  101            6.3           3.3            6.0           2.5
101  102            5.8           2.7            5.1           1.9
102  103            7.1           3.0            5.9           2.1

            Species
100  Iris-virginica
101  Iris-virginica
102  Iris-virginica

In [21]:
# Calculate statistical details for each species
setosa_stats = setosa_df.describe()
versicolor_stats = versicolor_df.describe()
virginica_stats = virginica_df.describe()

In [23]:
print("Statistical details for 'Iris-setosa':")
print(setosa_stats.head(3))

Statistical details for 'Iris-setosa':
             Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  50.00000       50.00000     50.000000      50.000000      50.00000
mean   25.50000        5.00600      3.418000       1.464000       0.24400
std    14.57738        0.35249      0.381024       0.173511       0.10721

In [24]:
print("\nStatistical details for 'Iris-versicolor':")
print(versicolor_stats.head(3))

Statistical details for 'Iris-versicolor':
             Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  50.00000      50.000000     50.000000      50.000000     50.000000
mean   75.50000       5.936000      2.770000       4.260000      1.326000
std    14.57738       0.516171      0.313798       0.469911      0.197753

In [25]:
print("\nStatistical details for 'Iris-virginica':")
print(virginica_stats.head(3))

Statistical details for 'Iris-virginica':
              Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count   50.00000       50.00000     50.000000      50.000000      50.00000
mean   125.50000        6.58800      2.974000       5.552000       2.02600
std     14.57738        0.63588      0.322497       0.551895       0.27465